{% extends 'main.html.twig' %}

{% block title %}{{ trailer.title }} - iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="mt-5 mb-4">{{ trailer.title }}</h3>
        <table class="table table-bordered">
                <tr>
                    <td>
                        <img src="{{ trailer.link }}/images/poster.jpg" alt="{{ trailer.title }}">
                    </td>
                    <td>
                        <div>{{ trailer.description }}</div>
                    </td>
                    <td>Source: <a href="{{ trailer.link }}" target="_blank">iTunes Movie trailers</a></td>
                </tr>
        </table>
        <a href="/">All trailers</a>
    </div>
{% endblock %}
